*{
margin: 0%;
padding: 0%;
background-color: black;
color: whitesmoke;
}
.Header{
    display: flex;
    text-decoration-style: none;
    color: whitesmoke;
    height: 100px;
    justify-content: space-between;
    border: 1px solid black;
    overflow: hidden;
    align-items: center;
}
.nav-item{
    font-size: 20px;
    color: white;
}
.logo{
    height: 150x;
    width: 150px;
   
}
.nav-item > ul{
    display: flex;
    list-style-type: none;
}
.nav-item > ul > li{
   margin-left: 50px;
margin-right: 10px;
color: whitesmoke;
text-decoration: none;}


.Res_card{
    height:350px;
    width: 250px;
    border: 2px solid rgb(228, 215, 215);
   justify-content: flex-start;
   display: grid;
   padding: 10px;
   overflow: hidden;
   margin: 10px;
   color: rgb(0, 0, 0);
   
}
/* .Res_card{
    padding: 0px;
    display: flex;
    list-style: none;
    margin-block-end: 0px;
    display: grid
;   -webkit-box-align: start;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin: 32px 16px;
} */
.body{
    padding: 10px;
}
.Res_cart_conatiner{
    display: flex;
    flex-wrap: wrap;
}
.search{
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: center;
}
.Res_card:hover{
    border: 5px rgb(72, 179, 222);
}
.btn_toprate{
    color: aliceblue;
}
.Res_image{
    height: 150px;
    width: 220px;
}
.Res_card_image{
    width: 100%;
}

.shimmer{
display: flex;
flex-wrap: wrap;
}
.shimmer_card{
    height:350px;
    width: 250px;
    border: 2px solid rgb(7, 6, 6);
   justify-content: flex-start;
   display: grid;
   padding: 10px;
   overflow: hidden;
   margin: 10px;
   background-color: rgb(56, 56, 55);
}
.footer{
    height: 250px;
    background-color: rgb(70, 71, 71);
    display: flex;
    flex: wrap;
}
.log-btm{
    color: whitesmoke;
    margin-left: 20px;
    margin-right: 25px;
}
.inputsearch{
    color: whitesmoke;
}
.cont_conatiner{
    border: 2px solid rgb(232, 228, 228);
    justify-content: center;
    align-items: center;
}
li{
    text-align: none;
    color: whitesmoke;
}
.menuresname{
    height: 100%;
    width: 80%;
    align-content: center;
    
   
    color: rgb(255, 255, 255);
    border-radius: 25px solid rgb(210, 2, 2);
    background-color: black;
    margin-top: 20px; 
}
.menuresname h1{
    background-color: black;
    display: inline;
}
.menuresname p{
    background-color: black;
    margin: 15px;
    
}
.menu{
    background-color: black;
}
.menucard{
    margin: 0px;
    padding: 0px;
    
}
.menucard p{
    margin: 2px;
    padding: 2px;
}
.price_offer{
    display: flex;
    flex: wrap;
}
.price_offer p{
    margin: 3px;
}
.menu_cart{
    display: flex;
    flex: wrap;
    justify-content: space-between;
    border: 1px solid beige;
}
.menu_image{
    height:130px;
    width: 150px;
}

@media (max-width: 950px){
    .nav-item{
        display:none;

    }
}

.restaurantmenu_container{
    display: flex;
    justify-content: center;
    align-items: center;
}